@import"variables";   


.navigation-menu{
    background-color: $primary-75;
    .menu-content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        .menu-item{
            button{
                padding: 17px 33px;
                box-shadow: none;
                background-color: $primary-100;
                color: white;
            }
            .dopdown-menu{
                padding: 0;
                width: 1120px;
                background-color: $dark-100;
                color: rgb(134, 10, 10);
                .left-menu{
                    background-color: $dark-100;
                    padding: 20px 0;
                    max-width: 280px;
                    margin: 0;
                    li{
                        display: flex;
                        cursor: pointer;
                        justify-content: space-between;
                        padding: 0 25px 0 30px;
                        span{
                        }
                    }
                }
            }
            a{
                color: white;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
              
            }
           
            .warning-item{
              color: $warning-100 !important;
            }
        }
    }
}